<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ethiopis.ethiopis_kids">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ethiopis_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ethiopis_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4660054418346074~5664036864"/>
        <activity android:name=".RoleModel_Video_Page"
            android:screenOrientation="landscape"
            ></activity>
        <activity android:name=".Login_Activity"></activity>
        <activity android:name=".News_Activity_Sponcer" />
        <activity android:name=".Role_Model_Sponcer" />
        <activity android:name=".Video_Sponcer" />
        <activity android:name=".Langage" />
        <activity android:name=".Sponser_splash" />
        <activity android:name=".walkthrough_profile_page" />

        <activity android:name=".Video_Play_Screen" />
        <activity
            android:name=".Funny_Video_Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Music_Video_activity"
            android:screenOrientation="landscape" />
        <activity android:name=".Video_Catagories" />
        <activity android:name=".Ethiopis_News" />
        <activity
            android:name=".Setting"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".Edit_Profile"
            android:parentActivityName=".Profile_Page"
            android:theme="@style/profiletheme" />
        <activity
            android:name=".Profile_Page"
            android:parentActivityName=".MainActivity"
            android:theme="@style/profiletheme" />
        <activity
            android:name=".Video_Menu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ActionBar" />
        <activity android:name=".Role_Model" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Video_activity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity android:name=".View_Reading_Detaile" />
        <activity
            android:name=".reading_detaile"
            android:parentActivityName=".Reading_Time_Activity"
            android:theme="@style/ActionBar" />

        <service android:name=".GettingDeviceToken">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessageServices">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Splash_Screen"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Reading_Time_Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".News_View"
            android:theme="@style/AppTheme" />
    </application>

</manifest>